:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;
}

.home ul li {
    width: 14px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    width: 100%;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 15px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding-bottom: 8px;
}

.footer a {
    color: grey;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.header>* {
    padding: 20px;
}

.spotifyPlaylist {
    padding: 16px;
}

.card {
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 1s;
}

.playbtn {
    position: absolute;
    top: 160px;
    right: 17px;
    width: 50px;
    opacity: var(--a);
    transition: all .5s ease-out;
}

.cardcontainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px;
    overflow: auto;
    max-height: 70vh;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card:hover {
    background-color: black;
    cursor: pointer;
    --a: 1;
}

.Signupbtn {
    background-color: black;
    color: gray;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
}

.Signupbtn:hover {
    font-size: 16px;
    color: white;
}

.Loginbtn:hover {
    width: 82px;
    font-weight: bold;
    font-size: 16px;
}

.buttons>* {
    margin: 0 12px;
}

.Loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    width: 79px;
    cursor: pointer;
    border: none;
    outline: none;
}

.playbar {
    position: fixed;
    bottom: 0;
    background-color: #7fff00;
    width: 70vw;
    bottom: 30px;
    padding: 12px;
    color: black;
    border-radius: 15px;
    min-height: 40px;
}

.songsbtn {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.songlist ul {
    padding: 0 12px;
}

.songlist {
    height: 544px;
    overflow: scroll;
    margin-bottom: 44px;
}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0px;
    border: 1px solid white;
    margin: 12px 0px;
    padding-left: 13px;
    border-radius: 5px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;

}

.songinfo {
    width: 222px;
}

.songtime {
    width: 110px;
}

.volume {
    cursor: pointer;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.seekbar {
    height: 3px;
    width: 96%;
    border-radius: 10px;
    background: black;
    position: absolute;
    bottom: 1px;
    margin: 6px;
    cursor: pointer;
}

.timeandvol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 15px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
    cursor: pointer;
}

.songsbtn img {
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.hamburger {
    display: none;
    width: 40px;
    cursor: pointer;
}

.close {
    position: absolute;
    right: 30px;
    top: 25px;
}

input[type="range"] {
    accent-color: rgb(0, 0, 0);
    cursor: pointer;
}

@media (max-width: 1400px) {
    .left {
        position: absolute;
        left: -1330%;
        transition: all .3s;
        z-index: 1;
        width: 95vw;
        background-color: black;
    }

    .right {
        width: 100vw;
        margin: 0;
    }

    .songinfo {
        width: auto;
    }

    .playbar {
        width: calc(100vw - 60px);
    }

    .seekbar {
        width: calc(100vw - 70px);
    }

    .hamburger {
        display: block;
    }

    .card {
        width: 60vw;
    }

    .timeandvol {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .cardcontainer {
        margin: 0;
        justify-content: center;
        max-height: 45vh;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }
    .playbtn{
        display: none;
    }
}

@media (max-width: 600px) {
    .card {
        width: 84vw;
    }
    

}

@media (max-width: 400px) {
    .Loginbtn {
        width: 60px;
    }

    .Loginbtn:hover {
        width: 62px;
    }

    .Signupbtn {
        width: 60px;
    }

}